<!DOCTYPE html>
<html lang="en">
  <head>
    <title>11tyGram</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
    <meta name="description" content="{{ profile.biography }}">
    <meta
      name="keywords"
      content="Itai, Eden, Axelrad, Climbing, Bouldering, California, Colorado, blog, post, twins"
/>
    <meta name="theme-color" content="#fafafa"/>
    <!-- iOS PWA -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta name="apple-mobile-web-app-title" content="blog"/>
    <!-- Style -->
    <link href="/images/instagram.svg" rel="icon" type="image/png"/>
    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>

  </head>
  <body>
  <nav class="banner">
  <div class="banner-links">
  <a href="/" class="logo">11tyGram</a>
  <a href="https://github.com/ItaiAxelrad/11tyGram">GitHub <img src="/images/github.svg" class="icon">
  </a>
  </div>
  </nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <small>&copy; 11tyGram</small>
    </footer>

  </body>
</html>