<form name="contact" method="POST" data-netlify="true">
  <input id="comment" type="text" name="comment" placeholder="Add a comment..." required="">
  <button type="submit" class="button-post">Post</button>
</form>