<nav class="banner">
  <div class="banner-links">
    <a href="/" class="logo">11tyGram</a>
    <a href="/" class="profile">{{ profile.name }} <img src={{ profile.profile_pic_url }} class="avatar-small" alt="avatar"></a>
  </div>
</nav>