---
title: Comments
layout: base.njk
eleventyExcludeFromCollections: true
permalink: "comments/page-{{ pagination.pageNumber + 1}}/index.html"
pagination:
  data: comments.media_comments
  size: 50
  alias: comments
---
<div class="form-container">
  {% include 'contact.njk' %}
</div>
<div class="{{ title | lower }}">
{%- for comment in comments %}
  <div class="comment">
    <small>{{ comment[2] }} commented on <time datetime="{{ comment[0] | htmlDateString }}">{{ comment[0] | readableDate}}</time>
    </small>
    <blockquote>{{ comment[1] }}</blockquote>
  </div>
{%- endfor %}
</div>
{% include 'pageNav.njk' %}