---
permalink: feed.xml
layout: null
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ profile.username }}</title>
  <subtitle>{{ profile.biography }}</subtitle>
  <link href="feed.xml" rel="self"/>
  <link href="feed.xml"/>
  {# <updated>{{ media.photos | rssLastUpdatedDate }}</updated> #}
  {%- for photo in media.photos %}
  <entry>
    <title>{{ profile.username }}</title>
    <link href="{{ absolutephotoUrl }}"/>
    <updated>{{ photo.taken_at }}</updated>
    <content type="html">{{ photo.caption }}</content>
  </entry>
  {%- endfor %}
</feed>