---
title: Following
layout: base.njk
eleventyExcludeFromCollections: true
permalink: "following/page-{{ pagination.pageNumber + 1}}/index.html"
pagination:
  data: connections.following
  size: 120
  alias: following
---
{% include 'header.njk' %}
<div id="{{ title | lower }}" class="col-container">
  <ul class="{{ title | lower }}">
  {%- for follow in following %}
    <li class="follow">
      <a href="https://www.instagram.com/{{ follow }}/?hl=en" rel="noopener">@{{ follow }}</a>
    </li>
  {% endfor -%}
  </ul>
</div>
{% include 'pageNav.njk' %}