---
title: Followers
layout: base.njk
permalink: "followers/page-{{ pagination.pageNumber + 1 }}/index.html"
pagination:
  data: connections.followers
  size: 100
  alias: followers
---

<div id="{{ title | lower }}">
{%- for follower in followers %}
  <span>@{{ follower }}</span>,
{% endfor -%}
</div>

<nav class="pageNav">
  <div class="previous-page">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
       &lt; Previous Page</a>
    {%- else %}
      <a href="/">&lt; Go Back</a>
    {%- endif %}
  </div>
  <div class="next-page">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next Page &gt;
  </a>
      {%- else %}
      {%- endif %}
    </div>
  </nav>