---
title: Following
layout: base.njk
permalink: "following/page-{{ pagination.pageNumber + 1}}/index.html"
pagination:
  data: connections.following
  size: 200
  alias: following
---

<div id="{{ title | lower }}">
{%- for follow in following %}
  <span>@{{ follow }}</span>,
{% endfor -%}
</div>

<nav class="pageNav">
  <div class="previous-page">
    {%- if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
       &larr; Previous Page</a>
    {%- else %}
      <a href="/">&larr; Go Back</a>
    {%- endif %}
  </div>
  <div class="next-page">
    {%- if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next Page &rarr;
  </a>
      {%- else %}
      {%- endif %}
    </div>
  </nav>