---
title: Home
layout: base.njk
permalink: index.html
---

<section class="posts">
  {%- for photo in media.photos %}
  <a href="/posts/{{ loop.index }}/">
      <img src="{{ photo.path }}" loading="lazy" class="thumbnail" alt="{{ photo.caption | truncate(12) }}">
    </a>
  {%- endfor %}
</section>