---
title: Likes
layout: base.njk
eleventyExcludeFromCollections: true
permalink: "likes/page-{{ pagination.pageNumber + 1}}/index.html"
pagination:
  data: likes.media_likes
  size: 120
  alias: likes
---
<div class="{{ title | lower }}" class="col-container">
  <ul class="{{ title | lower }}">
  {%- for like in likes %}
    <li class="like">
      <small>
        <span style="color: crimson;">♥</span>
        <b class="color">@{{ like[1] }}</b> liked a post on<br/>
        <time datetime="{{ like[0] | htmlDateString }}">{{ like[0] | readableDate}}</time>
      </small>
    </li>
  {%- endfor %}
  </ul>
</div>
{% include 'pageNav.njk' %}