---
title: Home
layout: base.njk
permalink: /videos/index.html
---

{% include 'header.njk' %}

<article class="posts">
  {%- for video in media.videos %}
    <a href="/videos/{{ loop.index }}/" class="post-link">
      <video preload="metadata" height="100%" class="thumbnail">
          <source src="/{{ video.path }}" type="video/webm">
          Sorry, your browser doesn't support embedded videos.
      </video>
      <div class="overlay">
        <div class="overlay-text">{{ video.taken_at | readableDate }}</div>
      </div>
    </a>
  {%- endfor %}

</article>